/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f2ea;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5c3d2e;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.auth-buttons button {
    background: #a83333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 10px;
}

.form-container {
    max-width: 800px;
    margin: auto;
    background: #ffeedb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkboxFotografo label {
    font-size: 17.5px;
    color: #000;
}

.acessarLogin {
    background: #d32f2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
